.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
build/
build_local/
build_profile/
data/
imgs/
src/bench_logs/
src_build/
src/data/
src/model/**/*.zip
src/model/**/*.om
src/model/**/*.onnx
*.zip
*.om
*.onnx
!src/model/yolov8s.om
!src/model/yolov8s_static.om
/src/out
src/测试comand.md
src/bench_rtsp_models.sh
src/out_0.jpg

# Local History for Visual Studio Code
.history/

LICENSE
